/* Global */

html {
  font-size: 10pt;
}

label {
  font-weight: bold;
}

/* Nav bar */

a.navbar-brand > img {
  width: 30px;
  height: 30px;
}

/* Dispatch Queue */

#queue_table {
  font-size: 10pt;
}

#search_bar {
  display: flex;
}

#search_bar > label {
  margin: 5px;
}

#search_bar > input {
  flex: 2;
}

#queue_table > tbody > tr:hover {
  background-color: #ffff00;
}

#queue_table > tbody > tr > td,
#queue_table > tbody > tr > th,
#queue_table > tfoot > tr > td,
#queue_table > tfoot > tr > th,
#queue_table > thead > tr > td,
#queue_table > thead > tr > th {
  padding: 6px;
}

/* Incident */

.report_entry_metadata {
  font-size: 75%;
  text-decoration: underline;
  filter: opacity(60%);
  margin-top: 4px;
  margin-bottom: 0px;
}

.report_entry_system {
  font-size: 0.8rem;
  text-align: center;
  filter: opacity(75%);
}

.report_entry_author {
  font-weight: bold;
}
