#queue_table {
  font-size: 10pt;
}

#queue_table > tbody > tr:hover {
  background-color: #FFFF00;
}

#queue_table > tbody > tr > td,
#queue_table > tbody > tr > th,
#queue_table > tfoot > tr > td,
#queue_table > tfoot > tr > th,
#queue_table > thead > tr > td,
#queue_table > thead > tr > th {
  padding: 6px;
}

a.navbar-brand > img {
  width: 30px;
  height: 30px;
}

#search_bar {
  display: flex;
}

#search_bar > label {
  margin: 5px;
}

#search_bar > input {
  flex: 2;
}
